// @import './var.scss';

.app {
    background: red;
    .aps {
        width: 50px;
    }
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: none;
}

.ant-layout {
    height: auto;
}

#loadding {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 20px;
}
