// @import './var.scss';

.app{  
    background: red;
    .aps {
      width: 50px;
      // @include ellipsis;
    }
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: none;
}

.ant-layout {
  height: 100% !important;
}

.ant-spin-container {
  // height: 1000px;
}