#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.site-layout-background {
    background: #fff;
}

.ant-layout .ant-layout-has-sider {
    min-height: 565px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ece8f0e0 !important;
}

.ant-layout .ant-layout-has-sider > section {
    padding: 0 24px 0 24px !important;
}

.ant-layout-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ant-menu-dark.ant-menu-horizontal {
    flex: 35 !important;
}

#root {
    .log-title {
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;
        cursor: pointer;
        background-image: -webkit-linear-gradient(bottom, red, #ff5f60, #f0c41b);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 30px;
    }
}
