.notFound {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;

    .notFound-title {
        margin-left: 15px;
        background-color: #333333;
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
            margin: 10px;
            color: white;
        }

        .notFound-h1 {
            margin-right: 10px;
        }

        .notFound-h5 {
            float: left;

            .notFound-h5-span {
                color: red;
                margin: 0px 5px 0px 0px;
            }
        }
    }
}
