.header {
    .userlogin {
        color: white;

        .usercore {
            margin: 0 15px 0 5px;
            font-size: 12px;
        }

        .ant-avatar {
            margin-top: -2px;
        }

        .ant-btn {
            color: rgba(255, 255, 255, 0.65) !important;
            background: #001529 !important;
            border: 1px solid white;
        }

        .ant-btn:hover {
            color: red !important;
        }
    }
}
