#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.login {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding-top: 200px; */
    justify-content: center;
    position: relative;

    .login-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    #normal_login {
        position: absolute;
        height: 270px;
        width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        background-image: none;
    }

    .ant-input-affix-wrapper {
        width: 80%;
    }

    .ant-btn-primary {
        margin: 0 20px;
    }
    .login-dl-button {
        background-color: #2EA44F;
    }
}
